# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
/specimens/ceramicfilaments.tres filter=lfs diff=lfs merge=lfs -text
/scenes/sci-fi_lab.glb filter=lfs diff=lfs merge=lfs -text
/specimens/sanfrancisco_topography.tscn filter=lfs diff=lfs merge=lfs -text
/specimens/ceramic.tscn filter=lfs diff=lfs merge=lfs -text
/specimens/brainvolume.tscn filter=lfs diff=lfs merge=lfs -text
/specimens/rockneutron.tscn filter=lfs diff=lfs merge=lfs -text
/assets/models/Brige.fbx filter=lfs diff=lfs merge=lfs -text
/specimen_data/cas9.stl filter=lfs diff=lfs merge=lfs -text
/specimen_data/fibers4mesh.stl filter=lfs diff=lfs merge=lfs -text
